:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --accent-button-color: #188ce8;
  --primary-bgc: #ffffff;
  --secondary-bgc: #f5f4fa;
  --accent-bgc: #2f303a;
  --basic-white: #ffffff;
  --footer-contacts-color: #ffffff99;
}

.page {
  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*Utility*/

img {
  display: block;
}

.link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  color: var(--basic-white);
  background-color: var(--accent-color);
  margin: 0;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  border: 0px;
  text-align: center;
}

.section {
  padding-top: 95px;
  padding-bottom: 95px;
}

/*HEADER*/

.header {
  background-color: var(--basic-white);
  letter-spacing: 0.02em;
  border: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.site-nav,
.header-contacts {
  display: flex;
}

.logo-accent {
  color: var(--accent-color);
  font-family: "Raleway";
  letter-spacing: 0.03em;
  font-size: 26px;
  line-height: 1.2;
}
.header .logo {
  color: var(--primary-text-color);
  font-family: "Raleway";
  letter-spacing: 0.03em;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 95px;
}

/*Site nav*/

.site-nav .link {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}

.site-nav .link,
.header-contacts .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .nav-link:not(:last-child),
.header-contacts .contact:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active,
.site-nav .current {
  color: var(--accent-color);
}

/*Header Cotacts*/

.header-contacts {
  margin-left: auto;
}

.header .contact-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header .contact-link:hover,
.header .contact-link:focus {
  color: var(--accent-color);
}

/*MAIN*/

.hide-title {
  display: none;
}

.title {
  font-weight: 700;
}

/*Hero*/

.hero {
  background-color: var(--accent-bgc);
  text-align: center;
  padding: 200px 412.1px;
  display: inline-block;
}

.hero .title {
  color: var(--basic-white);
  font-weight: 900;
  letter-spacing: 0.06em;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
  width: 695px;
}

.hero .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  min-width: max-content;
  margin-top: 0;
}

.hero .button:hover,
.hero .button:focus {
  color: var(--basic-white);
  background-color: var(--accent-button-color);
}

/*Featues*/

.features {
  background-color: var(--basic-white);
}

.feature-list {
  display: flex;
  justify-content: center;
}

.feature-list .feature:not(:last-child) {
  margin-right: 30px;
}

.features .title {
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10px;
}

.description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
/*Our action*/

.our-action {
  background-color: var(--basic-white);
}

.action-list {
  display: flex;
  justify-content: center;
}

.list .action-img:not(:last-child) {
  margin-right: 30px;
}

.our-action .title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

/*Team*/

.team {
  background-color: var(--secondary-bgc);
}

.team-list {
  display: flex;
  justify-content: center;
}

.team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.team-card {
  display: block;
  box-sizing: border-box;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.list .team-card:not(:last-child) {
  margin-right: 30px;
}

.team .portrait {
  margin-bottom: 30px;
}

.team .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-card .description {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 30px;
}

/*FOOTER*/

.footer {
  background-color: var(--accent-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  color: var(--basic-white);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.footer .contact-link {
  color: var(--footer-contacts-color);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 10px;
}

.footer .contact-link:hover,
.footer .contact-link:focus {
  color: var(--accent-color);
}

.address {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  margin-bottom: 10px;
}

/*PORTFOLIO*/

/*Filter*/

.filters {
  margin-bottom: 50px;
}

.container .filter {
  display: flex;
  justify-content: center;
}

.filter .button {
  color: var(--primary-text-color);
  background-color: var(--secondary-bgc);
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  padding: 6px 22px;
}

.list .filter-button:not(:last-child) {
  margin-right: 8px;
}

.filter button:hover,
.filter button:focus {
  color: var(--basic-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Catalog*/

.container .catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list .item-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.list .item-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.item-box .title {
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;
  padding-left: 24px;
  margin-top: 0;
  margin-bottom: 5px;
}

.item-box .description {
  font-size: 16px;
  line-height: 1.88;
  padding-left: 24px;
}

.item-card {
  background: var(--basic-white);
  width: 370px;
}

.item-box {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
}
